*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica;

}

body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #35014f,#5c1bdd,#8712ab);
    overflow: hidden;


}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 3px 20px 3px 20px;
    /*box-shadow: 0 2px 5px rgba(143, 143, 143, 0.604);*/
    background-color: rgba(29, 28, 28, 0.274);
    color: whitesmoke;
}

.main-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    }

.create-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    background-color: #4caded;
    border: unset;
    outline: solid 2px #4caded;
    color: white;
    padding: 5px 14px 5px 14px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 250ms;
    cursor: pointer;
}

.plus-icon{
    transform: translateY(3.3px);
}

.create-btn:hover{
    filter: brightness(80%);
}

.tasks{
    padding: 20px;
    display: flex;
    gap:25px;
    overflow-x:auto;
    position: relative;
    min-height: 600px;
    width: 100%;

}

.tasks::-webkit-scrollbar-thumb {
    position: fixed;
    left: 200px;
    top:0px;
    background-color: #525252;
    border-radius: 5px;



 }

 .tasks::-webkit-scrollbar{
    background-color: #000;
    height: 9px;
 }

 .tasks::-webkit-scrollbar-track-piece {
    position: fixed;
    left: 200px;
    top:0px;
    background-color: #22272b;
    border-radius: 5px;
 }


.task{
    padding: 0 0px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(56, 56, 56, 0.8);
    /*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);*/
    font-weight: bold;
    height: fit-content;
    max-width: 310px;
    background-color: rgba(15, 15, 15, 0.848);
    color: rgb(194, 193, 193);
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    max-height: 70vh
}
/* Style the scrollbar background */
::-webkit-scrollbar {
    background: #c8cbcc;
    width: 10px;
    border-radius: 8px;
  }
  
  /* Style the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 8px;

  }
  
 


.task .task-title{
    width: 100%;
    padding: 20px 20px 20px 10px;
    text-align: left;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(194, 193, 193);
}

.sections{
    width: 300px;
    height: 100%;
    overflow-x:auto;
    padding-right: 12px;
    padding-left: 6px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;

}

.section{
    width: 100%;
    height:fit-content;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px 0 rgba(56, 56, 56, 0.8);
    background-color: #22272b;
    padding: 15px 10px 13px 10px;
    word-wrap: break-word;

}

.animated-task{
    width:800px;
    height: 620px;
    transform: translateX(-40px);

}

.empty-div{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #4caded;
    text-shadow: 0px 2.1px 1px rgba(0, 0, 0, 0.6)
}

.drop-down{
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 250ms;

}

.drop-down-btn{
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;

}

.drop-down-btn:hover{
    background-color: #282f27;
}

.drop-down-sec{
    background-color: #282e33;
    width: 300px;
    height: 400px;
    position: absolute;
    top:60px;
    left: 250px;
    border-radius: 8px;
    border: solid #7f787e 1px;
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(37, 37, 37, 0.77);
    z-index: 20;
  
}

.drop-title{
    text-align: center;
    font-size: 13px;
}

.drop-mouse-down{
    filter:brightness(130%);

}


.add-card{
    width: 100%;
    margin-top: 9px;
    margin-bottom: 5px;
    margin-left: 11px;
    float: left;

}

.add-card-btn{
    width: 200px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    transition: all 250ms;
    padding: 8px;
    padding-bottom: 6px;
    cursor: pointer;
}

.add-card-btn:hover{
    background-color: #282f27;
}
.card-plus{
    transform: translateY(1.2px);
}

.add-card-component{
    width: 100%;
    height: fit-content;
}

.add-card-input{
    width: 100%;
    min-height: 80px;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px 0 rgba(56, 56, 56, 0.8);
    background-color: #22272b;
    padding: 15px 10px 13px 10px;
    border: unset;
    color :rgb(195, 195, 195);
    font-family:sans-serif ;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

.add-card-input:focus{
    outline: unset
}

.add-card-condition
{
    width: 200px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    transition: all 250ms;
    cursor: pointer;
}


.confirm-card{
    width: 200px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:17px;
    font-size: 14px;
    transition: all 250ms;
    padding: 8px;
    padding-bottom: 6px;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.confirm-card-btn{
    background-color: #579dff;
    padding: 8px;
    border-radius: 4px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;

}

.confirm-card-btn:hover,.close-btn:hover{
    filter: brightness(130%);
}

.close-btn{
    transform: translateY(1px);
}

